@font-face {
    font-family: pixel;
    src: url("../fonts/pixel.otf");
}
@font-face {
    font-family: roboto;
    src: url("../fonts/roboto.ttf");
}
body, html {
    font-family: pixel;
    font-weight: 100;
    width: 100%;
    background: rgb(255,255, 189);
}

a {
    color: white;
    text-decoration: none;
    transition: all.7s ease;
}

a:hover{
    color: lightgrey;
    text-decoration: none;
    border-bottom: 1px solid rgb(204, 202, 81);
    transition: all.7s ease;
}

img{
    max-height: auto;
    max-width: 100%;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid gray;
    margin: 1em 0;
}

header{

    background: rgb(243, 240, 96);
    width: 99.5%;
    padding: 0.25%;
    color: white;
    border-bottom: 5px solid rgb(226, 224, 90);
    display: inline-block;
}

* {
    margin: 0;
    padding: 0;
}

@media (min-width: 1460px) {
    
    #logo{
        float: left;
        width: 30%;
        text-shadow: #454545 0 0 2px;
    }
    
    #about{
        float: right;
        width: 27%;
        text-align: center;
        font-size: 1em;
        padding-top: -10px;
        margin-top: auto;
        margin-right: 3%;
        width: 30%;
    }
    
    #razdeli{
        float: left;
        width: 37%;
    }
    #btn{
        float: left;
        margin-top: 3vh;
        margin-right: 30px;
        font-size: 1.5em;
        border-radius: 5px;
        padding: 5px 9px;
        background: rgb(226, 224, 90); 
        text-shadow: #454545 0 0 2px;
        border-bottom: 4px solid rgb(204, 202, 81);
        height: 30%;
    }
    
    }
    
    @media (max-width: 1459px) and (min-width: 1278px) {
        
        #logo{
            float: left;
            width: 50%;
            text-shadow: #454545 0 0 2px;
        }
        
        .ooo{
            visibility: hidden;
            display: none;
        }
        
        #razdeli{
            float: left;
            width: 50%;
        }
        #btn{
            float: left;
            margin-top: 3vh;
            margin-right: 30px;
            font-size: 1.5em;
            border-radius: 5px;
            padding: 5px 9px;
            background: rgb(226, 224, 90); 
            text-shadow: #454545 0 0 2px;
            border-bottom: 4px solid rgb(204, 202, 81);
            height: 30%;
        }
        }

    @media (max-width: 1277px) and (min-width: 1077px) {
    
        #logo{
            float: left;
            width: 50%;
            text-shadow: #454545 0 0 2px;
        }
        
        .ooo{
            visibility: hidden;
            display: none;
        }

        
        #razdeli{
            float: left;
            width: 50%;
            margin-top: 7px;
        }
        #btn{
            float: left;
            margin-top: 3vh;
            margin-right: 30px;
            font-size: 1vh;
            border-radius: 5px;
            padding: 5px 9px;
            background: rgb(226, 224, 90); 
            text-shadow: #454545 0 0 2px;
            border-bottom: 4px solid rgb(204, 202, 81);
            height: 30%;
        }

        .logofoot{
            visibility: hidden;
            display: none;
        }
        .footer_1{
            float: left;
        }
        .footer_2{
            float: right;
        }
        }

    @media (max-width: 1077px) and (min-width: 757px) {

        #logo{
            float: left;
            width: 50%;
            text-shadow: #454545 0 0 2px;
        }
        
        .ooo{
            visibility: hidden;
            display: none;
        }

        
        #razdeli{
            float: left;
            width: 50%;
            margin-top: 9px;
        }
        #btn{
            float: left;
            margin-top: 3vh;
            margin-right: 30px;
            font-size: 1em;
            border-radius: 5px;
            padding: 5px 9px;
            background: rgb(226, 224, 90); 
            text-shadow: #454545 0 0 2px;
            border-bottom: 4px solid rgb(204, 202, 81);
            height: 30%;

        }
        .logofoot{
            visibility: hidden;
            display: none;
        }
        #footer_menu{
            float: center;
        }

        #search{
            visibility: hidden;
            display: none;
        }
        .footer_1{
            float: left;
        }
        .footer_2{
            float: right;
        }

       .jiji{
            visibility: hidden;
        }
        
        }

@media (min-width: 1078px){
    #hide{
        visibility: visible;
    }
    #showmenu{
        visibility: visible ;
}

    .buttonmenu{
         visibility: hidden;
    }
    
}

@media (max-width: 1000px){
    .photo{
        width: 200px;
        height: 200px;
}


@media (max-width: 756px){
    #hide{
        visibility: hidden;
    }

   .jiji{
            visibility: hidden;
        }
    
}

        @media (max-width: 756px) and (min-width: 500px) {

            #logo{
                float: left;
                width: 50%;
                text-shadow: #454545 0 0 2px;
            }
            
            .ooo{
                visibility: hidden;
                display: none;
            }
            
            #razdeli{
                float: left;
                width: 50%;
                margin-top: -5px;
            }
            #btn{
                float: left;
                margin-top: 3vh;
                margin-right: 30px;
                font-size: 1em;
                border-radius: 5px;
                padding: 5px 9px;
                background: rgb(226, 224, 90); 
                text-shadow: #454545 0 0 2px;
                border-bottom: 4px solid rgb(204, 202, 81);
                height: 30%;

                
            }

            .logofoot{
                visibility: hidden;
                display: none;
            }
            .footer_1{
                float: left;
            }
            .footer_2{
                float: right;
            }
            }
.logo{
    width: 80px;
    height: 80px;
    float: left;
    margin-top: 0;
}

header>div#logo>a{
    color: white;
}

header>div#logo>a>span{
    font-size: 2.5em;
    margin-left: 10px;
    background: none;
    margin-left: -5px;
}

#about>a:hover{
    color: lightgray;
}



#btn:hover{
    border-bottom: 2px solid rgb(204, 202, 81);
    margin-top: 3.2vh;
    transition: all.7s ease;
}

#wraper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content{
    flex: 1 0 auto;
}

footer{
    float:left;
    background-color: #343434;
    width: 98%;
    padding: 1%;
    border-top: 5px solid rgb(226, 224, 90);
}

#site_name {
    margin-right: 5%;
    color: #f4f4f4;
    font-size: 1.4em;
    float: right;
}

.logofoot{
    font-size: 1em;
}

.logofoot:hover{
    text-shadow:rgb(255, 255, 0) 0 0 4px;
    border-bottom: 3px solid white;
    transition: all.7s ease;
}

#footer_menu{
    color: white;
    font-size: 1.1em;
}

#footer_menu>a{
    margin-left: 3%;
    color: white;
}

#footer_menu>a:hover{
    border-bottom: 1px solid lightgrey;
    font-size: 1.1em;
}

nav{
    background-color: white;
    width: 99.5%;
    padding: 8px 0.25%;
    float: left;
    border-bottom: 1px solid rgb(226, 224, 90);
}

nav>div>a{
    color: rgb(204, 202, 81);
    font-size: 1.1em;
    margin-left: 1%;
}

nav>div>a:hover{
    font-size: 1.2em;
    color:rgb(226, 224, 90);
    text-shadow: #454545 0 0 2px;
}

#search{
    float: right;
    cursor: pointer;
    font-size: 1.1em;
}

#mbutton{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

#hide{
    display: inline;
}

#showmenu{
    display: inline;
    font-size: 1.4em;
    margin-left: 20px;
    float: left;
    cursor: pointer;
}

#mobile{
    display: none;
    width: 100%;
    float: left;
}

#mobile:hover{
    font-size: 1em;
}

#ui{
    float: left;
    margin-top: 3vh;
    font-size: 0.7em;
    border-radius: 5px;
    padding: 5px 9px;
    background: rgb(226, 224, 90); 
    text-shadow: #454545 0 0 2px;
    border-bottom: 4px solid rgb(204, 202, 81);
    height: 30%;
}

#ui:hover{
    border-bottom: 2px solid rgb(204, 202, 81);
    margin-top: 3.1vh;
    transition: all.7s ease;
}
