#otvety{
    float: left;
    margin-right: 30px;
    font-size: 0.7em;
    border-radius: 5px;
    padding: 5px 9px;
    background: rgb(226, 224, 90); 
    border: 2px solid rgb(226, 224, 90);
    border-bottom: 3px solid rgb(204, 202, 81);
    color: white;
    text-decoration: none;
    transition: all.7s ease;
    margin-left: 7px;
    float: right;
}

#pictures{

    width: 230px;
    height: 200px;
    margin-left: 3%;
    border-radius: 5px;
    margin-top: -5px;
}

.ji1{
    font-size: 1em;
    color: rgb(204, 202, 81);
    width: 90%;
    margin-left: 7px;
}



.aaaa{
    width: 90%;
    margin-left: 5%;
}

#otvety:hover{
    border-bottom: 1px solid rgb(204, 202, 81);
    margin-top: 2px;
    transition: all.7s ease
}

.theo{
    font-style: italic;
    color: rgb(204, 202, 81);
    width: 80%;
    text-align: justify;
    margin-left: 7%;
}

.plo{
    display: inline;
}

#center{
    font-size: 0.8em;
}


.plo, #logo{
    display: inline;
    margin-bottom: 12px;
}

.logo{
    width:350px;
    height: auto;
}

.heading{
    font-weight: lighter;
    font-size: 1em;
    font-family: pixel;
    border-bottom: 2px solid rgb(204, 202, 81);
    float: left;
    padding: 0 5px;
}

.article{
    width: 200px;
    float: left;
    border: 2px solid rgb(204, 202, 81);
    background-color: white;
    box-sizing: border-box;
    border-radius: 5px;
}

.article>img{
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100px;
}

@media (min-width: 1800px){
    #bio{
        font-size: 14px;
        float: right;
        width: 70%;
        margin-right: 3%;
        margin-top: -10px;
        margin-bottom: 70px;
    }
}

@media (min-width: 1787px) and (max-width: 1799px){
    #bio{
        font-size: 14px;
        float: right;
        width: 70%;
        margin-right: 2%;
        margin-top: -10px;
        margin-bottom: 70px;
    }
}

@media (min-width: 1786px) {
    aside{
        float: right;
        width: 66%;
        margin-top: 50px;
        border: 2px solid rgb(204, 202, 81);
        background-color: white;
        box-sizing: border-box;
        border-radius: 5px;
        margin-right: 12%;
        min-height: 1460px
    }
    
    #main{
        width: 250px;
        float: left;
        margin-top: 10px;
        margin-left: 8%;
    }
    
    .buttonmenu{
        visibility: hidden;
    }
    
    .after1{
        width: auto; 
        height: 580px; 
        padding-top: 30px;   
        margin-left: 2%; 
        border-radius: 5px; 
        margin-top: -5px; 
        margin-bottom: 100px;
    }
    
    .after2{
        width: 200px; 
        height: auto; 
        padding-top: 10px;   
        height: 510px; 
        margin-left: 3%; 
        border-radius: 5px; 
        margin-top: -5px; 
        margin-bottom: 70px;
    }
    
    .after3{
        width: 230px; 
        height: 500px; 
        padding-top: 10px;   
        margin-left: 3%; 
        border-radius: 5px; 
        margin-top: -5px;
         margin-bottom: 30px;
    }
}

.ji1{
    margin-left: 65px;
}

.h2{
    margin-left: 25px;
}

@media (max-width: 1785px) and (min-width: 1474px) {
    aside{
        float: right;
        width: 66%;
        margin-top: 50px;
        border: 2px solid rgb(204, 202, 81);
        background-color: white;
        box-sizing: border-box;
        border-radius: 5px;
        margin-right: 9%;
        min-height: 1448px
    }
    
    #bio{
        font-size: 14px;
        float: right;
        width: 70%;
        margin-right: 2%;
        margin-top: -10px;
        margin-bottom: 70px;
    }

    #main{
        width: 250px;
        float: left;
        margin-top: 10px;
        margin-left: 8%;
    }
    
    .buttonmenu{
        visibility: hidden;
    }
    .aaaa{
        width: 90%;
        margin-left: 5%;
    }

}

@media (max-width: 1473px) and (min-width: 1326px) {
    aside{
        float: right;
        width: 66%;
        margin-top: 50px;
        border: 2px solid rgb(204, 202, 81);
        background-color: white;
        box-sizing: border-box;
        border-radius: 5px;
        margin-right: 6%;
        min-height: 1448px
    }
    
    #bio{
        font-size: 14px;
        float: right;
        width: 66%;
        margin-right: 2%;
        margin-top: -10px;
        margin-bottom: 70px;
    }

    #main{
        width: 250px;
        float: left;
        margin-top: 10px;
        margin-left: 8%;
    }
    
    .buttonmenu{
        visibility: hidden;
    }
    .aaaa{
        width: 90%;
        margin-left: 5%;
    }
}

@media (min-width: 1326px){
    .after1{
        width: auto; 
        height: 580px; 
        padding-top: 30px;   
        margin-left: 2%; 
        border-radius: 5px; 
        margin-top: -5px; 
        margin-bottom: 100px;
    }
    
    .after2{
        width: 200px; 
        height: auto; 
        padding-top: 10px;   
        height: 510px; 
        margin-left: 3%; 
        border-radius: 5px; 
        margin-top: -5px; 
        margin-bottom: 70px;
    }
    
    .after3{
        width: 230px; 
        height: 500px; 
        padding-top: 10px;   
        margin-left: 3%; 
        border-radius: 5px; 
        margin-top: -5px;
         margin-bottom: 30px;
    }
}

@media (max-width: 1325px) and (min-width: 1151px) {
    aside{
        float: right;
        width: 60%;
        margin-top: 50px;
        border: 2px solid rgb(204, 202, 81);
        background-color: white;
        box-sizing: border-box;
        border-radius: 5px;
        margin-right: 3%;
        min-height: 1460px
    }
    
    #bio{
        font-size: 14px;
        float: right;
        width: 70%;
        margin-right: 2%;
        margin-top: -10px;
        margin-bottom: 70px;
    }

    #main{
        width: 250px;
        float: left;
        margin-top: 10px;
        margin-left: 8%;
    }

    .buttonmenu{
        visibility: hidden;
    }
    .aaaa{
        width: 90%;
        margin-left: 5%;
    }

    .after1{
        width: 180px; 
        height: 580px; 
        padding-top: 30px;   
        margin-left: 1%; 
        border-radius: 5px; 
        margin-top: -5px; 
        margin-bottom: 100px;
    }
    
    .after2{
        width: 180px; 
        height: auto; 
        padding-top: 10px;   
        height: 510px; 
        margin-left: 1%; 
        border-radius: 5px; 
        margin-top: -5px; 
        margin-bottom: 70px;
    }
    
    .after3{
        width: 180px; 
        height: 500px; 
        padding-top: 10px;   
        margin-left: 1%; 
        border-radius: 5px; 
        margin-top: -5px;
         margin-bottom: 30px;
    }
}

@media (max-width: 1150px) and (min-width: 1000px) {
    aside{
        float: right;
        width: 62%;
        margin-top: 50px;
        border: 2px solid rgb(204, 202, 81);
        background-color: white;
        box-sizing: border-box;
        border-radius: 5px;
        margin-right: 3%;
        min-height: 1460px
    }
    
    #main{
        width: 250px;
        float: left;
        margin-top: 10px;
        margin-left: 6%;
    }
    
    #bio{
        font-size: 14px;
        float: right;
        width: 70%;
        margin-right: 2%;
        margin-top: -10px;
        margin-bottom: 70px;
    }

    .hidde{
        color:white;
    }
    .aaaa{
        width: 90%;
        margin-left: 5%;
        font-size: 1em;
    }

    .after1{
        width: 160px; 
        height: 450px; 
        padding-top: 30px;   
        margin-left: 1%; 
        border-radius: 5px; 
        margin-top: -5px; 
        margin-bottom: 100px;
    }
    
    .after2{
        width: 160px; 
        height: 400px; 
        padding-top: 10px;   
        height: 510px; 
        margin-left: 1%; 
        border-radius: 5px; 
        margin-top: -5px; 
        margin-bottom: 70px;
    }
    
    .after3{
        width: 160px; 
        height: 400px; 
        padding-top: 10px;   
        margin-left: 1%; 
        border-radius: 5px; 
        margin-top: -5px;
         margin-bottom: 30px;
    }
}

@media (max-width: 999px) and (min-width: 777px){
    aside{
        float: right;
        width: 66%;
        margin-top: 50px;
        border: 2px solid rgb(204, 202, 81);
        background-color: white;
        box-sizing: border-box;
        border-radius: 5px;
        margin-right: 3%;
        min-height: 1460px

    }
    
    #main{
        width: 250px;
        float: left;
        margin-top: 10px;
        margin-left: 5%;
    }

    #bio{
        font-size: 12px;
        float: right;
        width: 70%;
        margin-right: 2%;
        margin-top: -10px;
        margin-bottom: 70px;
    }

    .hidde{
        color:white;
    }
    .aaaa{
        width: 90%;
        margin-left: 5%;
        font-size: 0.9em;
    }
    
    .after1{
        width: 160px; 
        height: 500px; 
        padding-top: 30px;   
        margin-left: 1%; 
        border-radius: 5px; 
        margin-top: -5px; 
        margin-bottom: 100px;
    }
    
    .after2{
        width: 160px; 
        height: 450px; 
        padding-top: 10px;   
        height: 510px; 
        margin-left: 1%; 
        border-radius: 5px; 
        margin-top: -5px; 
        margin-bottom: 70px;
    }
    
    .after3{
        width: 160px; 
        height: 450px; 
        padding-top: 10px;   
        margin-left: 1%; 
        border-radius: 5px; 
        margin-top: -5px;
         margin-bottom: 30px;
    }
}

@media (max-width: 776px) {
    aside{
        float: right;
        width: 66%;
        margin-top: 50px;
        border: 2px solid rgb(204, 202, 81);
        background-color: white;
        box-sizing: border-box;
        border-radius: 5px;
        margin-right: 0.5%;
        min-height: 1710px
    }
    
    #main{
        width: 250px;
        float: left;
        margin-top: 10px;
        margin-left: 8%;
    }

    #bio{
        font-size: 14px;
        float: right;
        width: 70%;
        margin-right: 2%;
        margin-top: -10px;
        margin-bottom: 70px;
    }

    .hidde{
        color:white;
    }
    
    .article{
        width: 170px;
        float: left;
        border: 2px solid rgb(204, 202, 81);
        background-color: white;
        box-sizing: border-box;
        border-radius: 5px;
    }
    .aaaa{
        width: 90%;
        margin-left: 5%;
        font-size: 0.8em;
    }

}

#ui{
    margin-bottom: 5px;
    float: center;
}

#ioio{
    margin-bottom: 20px;
    margin-top: 20px;
}

#mainh2{
    font-size: 1em;
    float: left;
    border-bottom: 2px solid rgb(204, 202, 81);
    font-weight: lighter;
    margin-top: 10px;
    padding: 0 10px;
    margin-right: 30%;
}

#center{
    float: left;
    width: 100%;
}

